/*
Hier kannst du dein eigenes CSS einfügen.

Klicke auf das Hilfe-Symbol oben, um mehr zu lernen.
*/

#nav-main li ul {width:260px;}

p.byline {display: block;}
p.byline i.fa {color: #e6007e;}

.ai1ec-calendar-link {color:#333!important}
.timely ul li:before {content: "";}